services:
  app:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    # environment:
    #   - DEBUG=1
    #   - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
    #   - SQL_ENGINE=django.db.backends.postgresql
    #   - SQL_DATABASE=django_db
    #   - SQL_USER=django_user
    #   - SQL_PASSWORD=django_pass
    #   - SQL_HOST=db
    #   - SQL_PORT=5432

  mysql:
    image: 'mysql/mysql-server:8.0'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'haberes_data:/var/lib/mysql'
    healthcheck:
      test:
        - CMD
        - mysqladmin
        - ping
        - '-p${DB_PASSWORD}'
      retries: 3
      timeout: 5s
volumes:
  haberes_data:
